<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
    <title>Baskout</title>
    <link rel="stylesheet" href="/css//all.css">
    <link rel="stylesheet" href="/css/cadastro.css">
    <script defer src="/js/cadastro.js"></script>
</head>
<body>
    <main class="center">
        <div class="logo">
            <div class="traco"></div>
            <div id="texto"><input type="button" value="Baskout"></div>
        </div>
        <div class="cadastro">
            <div class="campo">
                <input type="text" id="nome" placeholder="Digite seu nome">
                <div class="linha"></div>
            </div>
            <div class="campo">
                <input type="email" id="email" placeholder="Digite seu email">
                <div class="linha"></div>
            </div>
            <div class="campo">
                <input type="password" id="senha" placeholder="Digite sua senha">
                <div class="linha"></div>
            </div>
            <div class="campo">
                <input type="password" id="senha2" placeholder="Digite novamente sua senha">
                <div class="linha"></div>
            </div>
        </div>
        <div class="buttons">
            <input id="cadastrar" type="button" value="Cadastrar">
            <input id="cancelar" type="button" value="Cancelar">
        </div>
    </main>
</body>
</html>