<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,500;1,500&display=swap"
        rel="stylesheet">
    <title>Baskout</title>
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/logado.css">
</head>

<body>
    <header class="top">
        <div class="logo">
            <div class="traco"></div>
            <a href="/"><div id="texto"><input type="button" value="Baskout"></div></a>
        </div>
        <div class="home">
            <a href="/"><input type="button" value="Home"></a>
        </div>
        <div class="criador">
            <a href="/criador"><input type="button" value="Criador"></a>
        </div>
        <div class="blog">
            <a href="/blog"><input type="button" value="ADMIN"></a>
        </div>
    </header>
    <main class="center">
        <div class="apresentacao">
            <h1 class="baskout">BASKOUT</h1>
            <h2 class="subtitle">Sports Blog & Experience</h3>
        </div>
        <div class="relative">
            <div class="post1">
                <div class="titulo">
                    <p>Apresentação</p>
                </div>
                <div class="content">
                    <div class="imagem">
                        <a href="/criador">
                            <img src="/assets/images/Host baskout.jpg">
                        </a>
                    </div>
                    <div class="resumo">
                        <a href="/criador">
                            <div>
                                <p>
                                    Meu nome é, Alexandre Martin, um amante de basquete e estudante do Instituto Federal
                                    Catarinense -
                                    Campus Camboriú...
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="allposts">
            <div class="post">
                <div class="content">
                    <div class="imagem">
                        <a href="/">
                            <img src="/assets/images/jump-basquete baskout.gif">
                        </a>
                    </div>
                    <div class="resumo">
                        <div class="titulo">
                            <h1>tituto</h1>
                        </div>
                        <a href="">
                            <div>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum laudantium, ipsa dicta
                                    officia pariatur delectus. Laborum ducimus, nostrum cum, quia atque adipisci qui
                                    optio quo sit provident natus placeat dicta?</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="content">
                    <div class="imagem">
                        <a href="/">
                            <img src="/assets/images/jump-basquete baskout.gif">
                        </a>
                    </div>
                    <div class="resumo">
                        <div class="titulo">
                            <h1>tituto</h1>
                        </div>
                        <a href="">
                            <div>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum laudantium, ipsa dicta
                                    officia pariatur delectus. Laborum ducimus, nostrum cum, quia atque adipisci qui
                                    optio quo sit provident natus placeat dicta?</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="content">
                    <div class="imagem">
                        <a href="/">
                            <img src="/assets/images/jump-basquete baskout.gif">
                        </a>
                    </div>
                    <div class="resumo">
                        <div class="titulo">
                            <h1>tituto</h1>
                        </div>
                        <a href="">
                            <div>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum laudantium, ipsa dicta
                                    officia pariatur delectus. Laborum ducimus, nostrum cum, quia atque adipisci qui
                                    optio quo sit provident natus placeat dicta?</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="content">
                    <div class="imagem">
                        <a href="/">
                            <img src="/assets/images/jump-basquete baskout.gif">
                        </a>
                    </div>
                    <div class="resumo">
                        <div class="titulo">
                            <h1>tituto</h1>
                        </div>
                        <a href="">
                            <div>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum laudantium, ipsa dicta
                                    officia pariatur delectus. Laborum ducimus, nostrum cum, quia atque adipisci qui
                                    optio quo sit provident natus placeat dicta?</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="content">
                    <div class="imagem">
                        <a href="/">
                            <img src="/assets/images/jump-basquete baskout.gif">
                        </a>
                    </div>
                    <div class="resumo">
                        <div class="titulo">
                            <h1>tituto</h1>
                        </div>
                        <a href="">
                            <div>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum laudantium, ipsa dicta
                                    officia pariatur delectus. Laborum ducimus, nostrum cum, quia atque adipisci qui
                                    optio quo sit provident natus placeat dicta?</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="content">
                    <div class="imagem">
                        <a href="/">
                            <img src="/assets/images/jump-basquete baskout.gif">
                        </a>
                    </div>
                    <div class="resumo">
                        <div class="titulo">
                            <h1>tituto</h1>
                        </div>
                        <a href="">
                            <div>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum laudantium, ipsa dicta
                                    officia pariatur delectus. Laborum ducimus, nostrum cum, quia atque adipisci qui
                                    optio quo sit provident natus placeat dicta?</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>