<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,500;1,500&display=swap"
        rel="stylesheet">
    <title>Baskout</title>
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/post-criador.css">
</head>

<body>
    <header class="top">
        <div class="logo">
            <div class="traco"></div>
            <a href="/"><div id="texto"><input type="button" value="Baskout"></div></a>
        </div>
        <div class="home">
            <a href="/"><input type="button" value="Home"></a>
        </div>
        <div class="criador">
            <a href="/criador"><input type="button" value="Criador"></a>
        </div>
        <div class="blog">
            <a href="/blog"><input type="button" value="ADMIN"></a>
        </div>
    </header>
    <main class="center">
        <div class="image"></div>
        <div id="paragrafo">
            <div>
                <h1>Criador</h1>
            </div>
            <div>
                <p>Meu nome é, Alexandre Martin, um amante de basquete e estudante do Instituto Federal Catarinense -
                    Campus Camboriú, onde estou cursando o Ensino Técnico de Informática integrado ao Ensino Médio, em
                    uma das disciplinas deste curso me foi proposto que unisse uma matéria do Ensino Médio, com as
                    matérias do Ensino Técnico, então resolvi unir o útil ao agradável e assim surgiu este blog com o
                    tema de basquete, lugar em que posso compartilhar minha paixão pelo esporte.</p>
            </div>
            <div id="imagem">
                <img src="/assets/images/Host baskout.jpg">
            </div>
            <div>
                <p>Este sou eu em 2019 com o uniforme do meu time da escola, fato irrelevante é que apesar da minha
                    paixão por basquete é que tenho 1,65m de altura, comecei a jogar ainda no ensino fundamental onde
                    conheci o basquete pela grade curricular de educação física e o que me inspirou a começar a treinar
                    foi o anime Kuroko no Basket, passei por muitos desafios devido a minha altura (ou pela falta dela
                    kkk), mas hoje sou capitão do time da escola e tenho muito orgulo! </p>
            </div>
            <div>
                <p>Neste projeto você encontrará conhecimentos sobre os dribles, rebotes, passes, arremessos e afins,
                    também gosto da possibilidade de deixar aberto para que os usuários interajam compartilhando suas
                    próprias experiências dentro do blog. Com isso se faz necessário que o sistema tenha um requisito de
                    cadastro, permitindo vincular um banco de dados para que o projeto fique mais completo e apto a uma
                    nota de aprovação. A disciplina de Projeto Integrador baseia-se na junção de disciplinas do Ensino
                    Médio com as do Ensino Técnico, neste caso serão abordadas as disciplinas de Desenvolvimento Web,
                    Design Gráfico, Banco de Dados, Programação como disciplinas do Ensino Técnico e Educação Física,
                    abordando o conteúdo de basquete lecionado no 2º ano letivo da IA18 como matéria do Ensino Médio.
                </p>
            </div>

        </div>
    </main>
</body>

</html>