<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,500;1,500&display=swap"
        rel="stylesheet">
    <title>Baskout</title>
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/post.css">
</head>

<body>
    <header class="top">
        <div class="logo">
            <div class="traco"></div>
            <a href="/"><div id="texto"><input type="button" value="Baskout"></div></a>
        </div>
        <div class="home">
            <a href="/"><input type="button" value="Home"></a>
        </div>
        <div class="criador">
            <a href="/criador"><input type="button" value="Criador"></a>
        </div>
        <div class="blog">
            <a href="/blog"><input type="button" value="ADMIN"></a>
        </div>
    </header>
    <main class="center">
        <div class="image"></div>
        <div id="paragrafo">
            <div>
                <h1>{{{title}}}</h1>
            </div>
            <div>
                <h2>{{{subtitle}}}</h2>
            </div>
            <div>
                <p>{{{content}}}</p>
            </div>
        </div>
    </main>
</body>

</html>